<header class="bg-white h-24 flex flex-col justify-center">
  <div class="flex">
    <img
      src="assets/images/menu-footer/logo.jpeg"
      alt="Logo"
      class="h-10 mr-3"
    />
    <span class="text-lg font-semibold">HostXchange</span>
    <nav class="flex justify-end ml-auto">
      <a
        href="#"
        class="text-black font-semibold text-sm px-8 py-1 hover:bg-gray-200"
        >Home</a
      >
      <a
        href="#"
        class="text-black font-semibold text-sm px-8 py-1 hover:bg-gray-200"
        >Mapa</a
      >
      <a
        routerLink="/sign-up"
        class="text-black font-semibold text-sm px-8 py-1 hover:bg-gray-200 border-2 border-black"
        >Sign up</a
      >
      <a
        href="#"
        class="text-black font-semibold text-sm px-8 py-1 hover:bg-gray-200"
        >Contato</a
      >
    </nav>
  </div>
</header>
