<app-header></app-header>
<div class="h-screen">
  <div class="flex flex-col items-center justify-center mt-9">
    <h1 class="text-4xl font-semibold">Welcome to HostXchange</h1>
    <p class="text-lg mt-4">The best place to find a host for your exchange</p>

    <div class="w-2/3 mt-2">
      HostXchange is a platform that connects people who want to host travelers
      with people who are looking for a place to stay. It is a great way to meet
      new people, learn about different cultures, and save money while
      traveling. Whether you are a host or a traveler, HostXchange has something
      for everyone. Sign up today and start your exchange journey!
    </div>
  </div>

  <div class="flex flex-col items-center justify-center mt-9">
    <h1 class="text-4xl font-semibold">What we offer</h1>
    <div class="flex flex-row">
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
